<%- include ('../partials/header') %>

  
  
<div class="forgotpassword">
  <div class="row">
      <div class="col-lg-4 col-sm-1">

      </div>
      <div class="col-lg-4 col-sm-10">
        <div class="forgotpasswordform">
          <form action="/reset/<%= token %>" method="POST" class="forgotpassworddata">
            <p>Reset Password</p>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="new password" autocomplete="autofocus">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" name="confirm" placeholder="confirm new password" >
          </div>
          <div class="form-group">
              <button class="btn btn-primary btn-block">Reset password</button>
          </div>
        </form>
        </div>
         
      </div>
      <div class="col-lg-4 col-sm-1">
        
      </div>
  </div>
</div>

 
















<!-- <div class="container">
      <h3 style="text-align: center; padding: 50px; font-size: 35px;">Reset password</h3>
      <form >

       
    
      </form>
  </div> -->

<%- include ('../partials/footer') %>

