<%- include ('../partials/header') %>
  <div class="container">
      <div class="aboutus" style="text-align: center;">
        <div class="aboutuslogo">
            <img src="/images/F.png" alt="error" width="150px" height="30%">
        </div>
        <div class="aboutusdata">
            <p>welcome to FIKARA</p>
            <div class="aboutusdata1">
                <p>* FIKARA is a website that let the users to share their mobile,web,gaming app ideas with the world.<br>
                   * It is a website for helping the developers to create an app that serves best to the user.<br>
                   * it is completely designed and focused on APP IDEAS.<br>
                   * As a developers we know the value of thoughts and how critical it is to get a thought that serves the user.<br>
                   * We will provide a platform to the user (user can be a developer) where he can share and get the required thoughts 
                     for creating an APPLICATION which will be useful to the user.<br>
                   * FIKARA is completely FREE website we do not take any money from the user feel free to  <a href="/register" class="btn btn-success"> JION.</a><br>
                   * User can share his thoughts regarding MOBILE, WEB, GAMING and other APPLICATION ideas.</P>
            </div>
        </div>
      </div>
  </div>
<%- include ('../partials/footer') %>
