<%- include ('../partials/header') %>
<div class="container">
    <div class="contact" style="padding: 0px;">
        <div class="aboutus" style="text-align: center;">
            <div class="aboutuslogo">
                <img src="/images/newlogo.png" alt="error" width="150px" height="30%">
                <p style="margin-top: 10px;">welcome to FIKARA</p>
            </div>
            <div class="contactdetails"  >
                <p >you can contact through mail</p>
                <P>feel free to mail :- fikara@gmail.com<br>
                </P>
            </div>
    </div>
   
      
</div>
</div>
<%- include ('../partials/footer') %>
