<%- include ('../partials/header') %>
<div class="container">
    <div class="help">
        <div class="helpimage" style="text-align: center;">
            <img src="/images/F.png" alt="error" width="150px">
            <P style="margin-top: 10px;font-size: 23px;font-weight: 600;">we are here to help you</P>
        </div>
        <div class="helpdata">
        <h2>HELP</h2>
         <P>* we are still developing this website so we are not providing any helping facilities to the user.<br>
            * you can contact through mail to get the required help.<br>
            * problem should be related to FIKARA and its features and working functionality.<br>
            * we are providing 24/7 service to help you.<br>
            * feel free to mail :- fikara@gmail.com.
         </P>
        </div>
        
    </div>
</div>
<%- include ('../partials/footer') %>
