<%- include ('../partials/header') %>

    <div class="container">
        <div class="notes">
            <h1>WEBSITE IS UNDER CONSTRUCTION</h1>
            <p style="text-align: center;">we are still developing this website</p>
            <h3>NOTES</h3>
            <p>* please make sure to provide web if it is webideas or mobile or gaming or other
               * sometimes the user cannot see his comment after adding please refresh to see it.<br>
               * currenty we are not providing any sharing option to any post.<br>
               * once  the user delete his account only the account get deleted we are not going to delete
                 the data that added by the user for user convinience.<br>
               * please make sure before you are going to delete your account 
                 you cannot recover it once you deleted.<br>
               * you dont need to accept the terms and conditions.<br>
               * you can be able to see the thoughts of any one & you can contact him through mobile number.<br>
               * we are making your account public for user convinience and we are not going to provide any
                 confidential to the other user without your prior permission.<br>
               * currently user will not receive any notifications from FIKARA.<br>
               * no profile picture is there.</p>*
            <h3>UPCOMING UPDATES</h3>
             <p>* user can be able share his idea to social media.<br>
                * user can make his account public or private.<br>
                * user can follow the another user.<br>
                * user can be able to receive the notifications.<br>
                * user can be able to add and delete his profile picture.<br>
                * we will add better filters and sorting functionality.<br>
                * terms and conditions page will come.<br>
                * user can be able to login using facebook or google or gmail.<br>
                * user can make chat with other user. <br>
                * user can like a post.<br>
                * dark theme will be added.<br>
                * user can recover his account.<br>
                * changes will be made in the the design and outlook of the website.<br>
             </p>
        </div>
    </div>
<%- include ('../partials/footer') %>
